@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-fundo: #36325A;
    --cor-branca: #ffffff;
    --cor-preta: #000000;
    --cor-section3: #d2d3ff;
}

body {
    font-size: 100%;
    background-color: var(--cor-fundo);
}

link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    width: 95%;
    margin: 1rem auto;
    color: var(--cor-branca) !important;
    opacity: unset !important;
}

.nav-link {
    color: var(--cor-branca) !important;
}

.dropdown-item:hover {
    background-color: var(--cor-azul-claro) !important;
}

.cabecalho-imagem {
    width: 166px;
    height: 40px;
}

.cabecalho-imagem2 {
    max-width: 100%;
}

.conteudo-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: var(--cor-branca);
}

.conteudo-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-branca);
}

.margem-acima {
    margin-top: 4rem;
}

.margem-acima-grande {
    margin-top: 17rem;
}

.margem-abaixo {
    margin-bottom: 4rem;
}

.conteudo-secundario-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-branca);
    text-align: center;
    margin-bottom: 1rem;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: var(--cor-branca);
    text-align: center;
    margin-bottom: 1rem;
}

.rodape {
    padding-bottom: 5rem;
}

.rodape-imagem {
    height: 3rem;
}

.btn-rounded {
    border-radius: 30px;
}

.hero-content {
    max-width: 500px;
    width: 100%;
}


/* Treino.html */

.section-1 {
    background-color: #26a69a;
    border: var(--cor-preta) solid 1px;
    height: 13rem;
}

.section-2 {
    background-color: #66bb6a;
    border: var(--cor-preta) solid 1px;
    height: 13rem;
}

.section-3 {
    background-color: #64dd17;
    border: var(--cor-preta) solid 1px;
    height: 13rem;
}

.borda-1 {
    border: var(--cor-branca) solid 1px;
    border-radius: 15px;
}

.altura-1 {
    height: 100%;
}

.texto-branco {
    color: var(--cor-branca);
}

.section3-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--cor-branca);
}

.section3-paragraph {
    font-size: 1.3rem;
    color: var(--cor-section3);
}

.accordion-title {
    background-color: var(--cor-fundo);
    color: var(--cor-branca);
    font-size: 2rem;
}

.accordion-item {
    background-color: var(--cor-fundo);
    color: var(--cor-section3);
    font-size: 1.3rem;
    border: var(--cor-branca) solid 1px;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.footer-space-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-text {
    color: var(--cor-branca);
    font-size: 1.2rem;
    border: var(--cor-branca) solid 1px;
    border-radius: 5px;
}

.footer-link {
    color: var(--cor-branca);
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 0.5rem;
    border: var(--cor-branca) solid 1px;
    border-radius: 5px;
}

@media (max-width: 1008px) {
    .footer-text {
        margin-top: 0.5rem;
    }

    .footer-link {
        margin-top: 0.5rem;
    }
}

